<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot default properties -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- Log file location -->
    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/application.log"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %highlight(%-5level) [%thread] %logger{35}.%M\(%class{0}.java:%line\) %n    %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender with rolling policy -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5level [%thread] %logger{35}.%M\(%class{0}.java:%line\) %n    %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="javax.management" level="OFF" additivity="false"/>
    <logger name="org.apache.kafka" level="debug" additivity="true"/>
    <logger name="org.springframework" level="OFF" additivity="false"/>
    <!-- Root logger -->
    <root level="ALL">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
    </root>

</configuration>
